numpy
cython
scipy
torch
torchaudio
soundfile
librosa
scikit-learn
numba
inflect
tqdm
anyascii
pyyaml
fsspec
aiohttp
packaging
mutagen
pysbd
umap-learn
pandas
coqpit
jieba
pypinyin
gruut[de,es,fr]
nltk
g2pkk
bnnumerizer
bnunicodenormalizer
einops
transformers
encodec
unidecode
num2words
spacy
